node_modules
npm-debug.log
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.vagrant
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.git
.gitignore
.gitattributes
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
